.container {
  width: 100%;
  height: 100%;
}

/* .container > .dropdown * {
}

.container > .dropdown *:hover {
} */

.dropdown {
  z-index: 20;
  max-width: 800px;
  /* outline: 1px solid blueviolet; */
  overflow: hidden;
}

.posAbsolute {
  position: absolute;
  top: 100%;
}

.posRelative {
  position: relative;
}

.title {
  cursor: default;
}

.linkContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

/* .linkContainer:hover {
  color: darkgreen;
  background-color: lightblue;
} */
