.container {
  width: 100%;
  height: 100%;
}

.container > .dropdown * {
  padding: 6px 8px;
}

.container > .dropdown *:hover {
}

.dropdown {
  position: absolute;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  max-width: 600px;
  overflow-x: hidden;
}

.title {
  cursor: default;
}
