.container {
  /* outline: 2px solid purple; */
  /* position: absolute; */
  z-index: 0;
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  position: relative;
  /* align-items: center; */
}

.navWrapper {
  display: flex;
  gap: 25px;
  /* flex-wrap: wrap; */
}

.flexRow {
  flex-direction: row;
}

.flexCol {
  flex-direction: column;
}

.navItem {
  position: relative;
  /* margin: 10px; */
  /* display: block;
  white-space: nowrap; */
}
