.container {
  outline: 2px solid purple;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgreen;
}

.navLink {
}

.navLink:hover {
  color: purple;
}
