.container {
  outline: 2px solid purple;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navWrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 25px;
  padding: 20px;
  z-index: 10;
  overflow-x: visible;
}

.navItem {
  position: relative;
  white-space: nowrap;
  z-index: 10;
}

.logo {
  white-space: nowrap;
  display: inline-block;
  padding: 0 10px;
}
.logoTitle {
  margin-left: 6px;
}
